.section2 {
  position: relative;
}
#aboutme .section2 {
  background-color: #eb5d62;
  width: 100%;
  height: 8vw;
  color: white;
  font-size: 2.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 120em 120em;
  position: sticky;
  top: 0;
  z-index: 40;
}
/* aboutme section3 */
#aboutme .section3 {
  color: #0e2a93;
  background: #ffe9e9;
  display: flex;
  height: 900px;
  flex-direction: column;
  font-size: 4vw;
  line-height: 160%;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 4vw;
  position: relative;
  top: -100px;
}

#aboutme .section3 p {
  width: 80%;
}
#aboutme .section3 svg {
  position: absolute;
  top: 40%;
  right: 3%;
  width: 30%;
}

/* 소통하는 것을 좋아하고 */
#aboutme .section3 em:nth-child(1) {
  border-bottom: 5px solid #ffb1b3;
}
/* 3이 상황 */
#aboutme .section3 p em:nth-child(3) {
  border: 3px solid #ffb1b3;
  padding: 5px;
  border-radius: 60%;
}

/* 인지 */
#aboutme .section3 p em:nth-child(5) {
  background-color: #ffb1b3;
}

/* 긍정적인 */
#aboutme .section3 p em:nth-child(11) {
  background-color: #ffb1b3;
}

.img1,
.img2,
.img3 {
  background-size: cover;
  width: 7%;
  height: 7%;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  margin-top: 1%;
}

/* section4 */
.section4 {
  position: relative;
}
.container,
#boxes div {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  height: 1000px;
  transition: all 0.5s ease;
  background: var(--bg-color, #f44336);
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: -100px;
}
#boxes {
  counter-reset: number;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 0;
  padding: 6px 0;
}

@media (max-width: 320px) {
  #boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

#boxes div {
  width: 23.5vw;
  aspect-ratio: 1/1;
  min-width: 5em;
  min-height: 5em;
  transition: 0.5s all ease;
  background: var(--color, #aaa);
  border: 0 solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0.8;
  --dx: calc(var(--size) - var(--x));
  --dy: calc(var(--size) - var(--y));
}
#boxes div:first-child {
  border-radius: 50% 5% 50% 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
}

#boxes div:nth-child(2) {
  background: url("../image/IMG_6416.JPG") no-repeat center;
  background-size: cover;
  opacity: 1;
}
#boxes div:nth-child(3) {
  border-radius: 20px 50% 50% 20px;
}
#boxes div:nth-child(4) {
  background: url("../image/IMG_0312.JPG") no-repeat center;
  background-size: cover;
  opacity: 1;
}
#boxes div:last-child {
  background: url("../image/IMG_5728.jpeg") no-repeat center;
  background-size: cover;
  opacity: 1;
}
#boxes div:nth-child(5) {
  border-radius: 60px;
}
#boxes div:first-child {
  --x: 84;
  --y: 75;
  --size: 128;
}

#boxes div:hover {
  opacity: 1;
  cursor: pointer;
  border: calc(2px + 0.85vw) solid rgba(255, 255, 255, 0.5);
  transition: 0.5s background-color ease, 0.2s border ease;
  border-radius: calc(var(--x) / var(--size) * 100%)
    calc(var(--dx) / var(--size) * 100%) calc(var(--dx) / var(--size) * 100%)
    calc(var(--x) / var(--size) * 100%) / calc(var(--y) / var(--size) * 100%)
    calc(var(--y) / var(--size) * 100%) calc(var(--dy) / var(--size) * 100%)
    calc(var(--dy) / var(--size) * 100%);
}
#boxes div:after {
  content: "";
  width: 500px;
  height: 500px;
  color: rgba(255, 255, 255, 0);
  font-size: calc(1vw + 1.2em);
  font-weight: 200;
  transition: all 0.2s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, -0.5em, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
/* #boxes div:first-child:after {
  content: "열정";
} */
#boxes div:nth-child(3):after {
  content: "도전정신";
}
#boxes div:nth-child(5):after {
  content: "긍정적인";
}
#boxes div:hover:after {
  color: rgba(255, 255, 255, 0.7);
  transform: translate3d(0, 0, 0);
}
