/* website section1 */
#website {
  background-color: #e8ecfb;
}
#website .section1 {
  background-color: #0e2a93;
  width: 100%;
  height: 3em;
  color: white;
  font-size: 2.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 120em 120em;
  position: sticky;
  top: 0;
  z-index: 50;
  transition: height 0.7s ease-in, border-radius 0.7s ease-in,
    font-size 0.7s ease-in;
}

body .particletext {
  text-align: center;
  position: relative;
}
body .particletext.bubbles > .particle {
  opacity: 0;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.5);
  -webkit-animation: bubbles 3s ease-in infinite;
  animation: bubbles 3s ease-in infinite;
  border-radius: 100%;
}
body .particletext.confetti > .particle {
  opacity: 0;
  position: absolute;
  -webkit-animation: confetti 3s ease-in infinite;
  animation: confetti 3s ease-in infinite;
}
body .particletext.confetti > .particle.c1 {
  background-color: rgba(76, 175, 80, 0.5);
}
body .particletext.confetti > .particle.c2 {
  background-color: rgba(156, 39, 176, 0.5);
}
@-webkit-keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}
@-webkit-keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
/* website section3 */

#website .section3 {
  overflow-y: visible;
  position: relative;
  height: unset;
  overflow-x: hidden;
  margin: 0;
  background: #e8ecfb;
}
#website .container {
  width: 600% !important;
  height: 100vh !important;
  display: flex;
  flex-wrap: nowrap;
}

.lastContainer {
  display: flex;
  height: 100vh;
}
#website .section3 .panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
#website .section3 .panel h1 {
  position: absolute;
  top: 14%;
  left: 10%;
  color: #0e2a93;
  font-size: 90px;
  font-weight: 700;
  z-index: 3;
}
#website .section3 .panel img {
  width: 60%;
  margin-top: 20px;
}
#website .section3 .panel a {
  position: absolute;
  top: 30%;
  left: 10%;
  padding: 8px 20px;
  border-radius: 25px;
  background: none;
  font-size: 18px;
  font-weight: 300;
  transition: all 0.3s;
}

#website .section3 .panel a:hover {
  color: white;
  border: none;
}
#website .section3 .panel p {
  position: absolute;
  top: 47%;
  left: 68%;
  text-align: start;
  font-size: 16px;
  font-weight: 300;
}

#website .section3 .blue a {
  border: 1px solid #0e2a93;
  color: #0e2a93;
}
#website .section3 .blue a:hover {
  background: #0e2a93;
}
#website .section3 .blue h1,
#website .section3 .blue p {
  color: #0e2a93;
}

#website .section3 .purple a {
  border: 1px solid #410e93;
  color: #410e93;
}
#website .section3 .purple a:hover {
  background: #410e93;
}
#website .section3 .purple h1,
#website .section3 .purple p {
  color: #410e93;
}

#website .section3 .black a {
  border: 1px solid #272628;
  color: #272628;
}
#website .section3 .black a:hover {
  background: #272628;
}
#website .section3 .black h1,
#website .section3 .black p {
  color: #272628;
}

#website .section3 .gray a {
  border: 1px solid #676767;
  color: #676767;
}
#website .section3 .gray a:hover {
  background: #676767;
}
#website .section3 .gray h1,
#website .section3 .gray p {
  color: #676767;
}
#website .section3 .gray p {
  color: #434343;
}
#website .section3 .beige a {
  border: 1px solid #ae9979;
  color: #958163;
}
#website .section3 .beige a:hover {
  background: #ae9979;
}
#website .section3 .beige h1,
#website .section3 .beige p {
  color: #958163;
}
#website .section3 .beige p {
  color: #62543f;
}
/* website section2 */
#website .section3 .section2 {
  color: #0e2a93;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  box-sizing: border-box;
}
#website .section3 .section2 .contents {
  font-size: 4vw;
}
#website .seciton3 .section2 .contents em {
  font-weight: 500;
}
#website .section3 .section2 desc {
  display: flex;
  margin-right: 10px;
  font-size: 3vw;
  margin-top: 2%;
  width: 80%;
  justify-content: center;
}
#website .section3 .section2 desc em {
  margin-right: 4%;
  position: relative;
  z-index: 1;
}
#website .section3 .section2 desc em::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgb(180, 180, 255, 0.7);
  border-radius: 30px;
  transition: all 0.3s;
  z-index: -1;
}
#website .section3 .section2 desc em:hover::before {
  height: 60px;
}

#website .section3 .section2 img {
  width: 500px;
  margin-top: 70px;
}
